.skeleton-loading {
  background: linear-gradient(80.94deg, rgba(255, 255, 255, 0.05) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.05) 60%), rgba(214, 224, 236, 0.05);
  background-size: 300% 100%;
  background-position: -100% 0;
  background-blend-mode: luminosity;
  animation: skeleton 3s linear infinite;
  }

  @keyframes skeleton {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .tag-tree {
    list-style: none;
    padding-left: 0;
}

.tag-item {
    position: relative;
    margin-left: 20px;
}

.tag-item .toggle-button {
    position: absolute;
    left: -20px;
    background: none;
    border: none;
    cursor: pointer;
}

.tag-item .tag-label {
    cursor: pointer;
}

.tag-item.expanded > ul {
    display: block;
}

.tag-item > ul {
    display: none;
}


.tag-label {
    cursor: pointer;
}

.child-tags {
    display: none;
}

.tag-item.active > .child-tags {
    display: block;
}
